html{
 background:#D8D8D8; 
 font-family: 'Oswald', sans-serif; 
}

@media screen and (max-width: 400px){
  html{
 background:#FFFFFF;
  }
}

@media screen and (min-width: 600px){
body{
width: 600px;
margin-left:auto ;
margin-right:auto;
}
}
 
@media screen and (max-width: 400px){
  body{
width: 360px;
  }
}

@media screen and (min-width: 400px){
header { 
display: inline-block;
Vertical-align:middle; 
width:100%;
text-align: center;
background:#FFFFFF;
clear:both;
margin:0;
 }
}
a {
text-decoration: none;
color: #A4A4A4;
}

@media screen and (max-width: 400px){
section{
text-align: center;
height: auto;
width: 360px;
}
}

@media screen and (min-width: 400px){
section{
min-height: 650px;
width:100%;
text-align: center;
background:#FFFFFF;
margin:0;
border-right: 15px;
padding-top: 20px;
}
}


footer{
display: inline-block;
Vertical-align:middle;
height: 40px;
padding-top: 20px;
width:100%;
text-align: center;
background:#FFFFFF;
border-top: 2px solid #dc4332;
}

td{
width: 400px;
height: 70px;
}


.link{
margin:5px;
display: inline-block;
}



.logo{
float: left;
height: 100px;
width:340px;
padding-left:30px;
margin-top: 10px;
}

.register{
width:200px;
float: right;
margin: 10px;
text-align: left;
}

.usersNumber{
width:200px;
float: right;
margin: 10px;
margin-top: -5px;
text-align: left;
clear:right;
color: #A4A4A4;
font-size: 14px;s
}

.topicList{
clear: both;
width: 100%;
border-bottom: 2px solid #dc4332;
}

.pagesList{
clear: both;
width: 100%;
margin-top: 10px;
border-bottom: 2px solid #dc4332;
}

.headline{
	padding-top: 10px;
	margin-top: 0px;
}

.language{
	display: inline-block;
  float: right;
  margin-right: 5px;
}

@media screen and (max-width: 400px){
.popular{
text-align: center;
width: 360px;
}
}

@media screen and (min-width: 400px){
.popular{
text-align: left;
height: 250px;
width:210px;
float: right;
margin: 0px 10px;
background:#FFFFFF;
clear:right;
color: #dc4332;
}
}

.text{
background:#FFFFFF;
margin:0,15px;
border:15, 0px;
width:95%;
}

.exceptionText{
background:#FFFFFF;
margin:0,15px;
border:15, 0px;
border-left: 30px;
padding-left: 30px;
text-align: left;
width: 90%;
}

.err{
	color: red;
}

.success{
	text-align: center;
	color: green;
	border: 3px solid #54e01f;
	border-radius: 10px;
}

@media screen and (min-width: 400px){
.outputForm{
background:#FFFFFF;
text-align: left;
width:87%;
margin-left:auto ;
margin-right:auto;
}
}

@media screen and (max-width: 400px){
.outputForm{
width:98%;
}	
}

.submit{
text-align: center;
}

.registrationLink {
	display: inline-block;
    margin: 0;
    border: 0 solid #FFFFFF;
    background: none;
    overflow: visible;
    color: blue;
    padding: 0px;
    padding-top: 5px;
    cursor: pointer;
    text-decoration: none;
	color: #A4A4A4;
	font-size: 14px;
}

.registrationForm {
	display: inline-block;
    margin: 0;
    border: 0 solid #FFFFFF;
    background: none;
    overflow: visible;
    color: blue;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
	color: #A4A4A4;
	font-size: 14px;
}

.popularLink {
	display: inline-block;
    margin: 0;
    margin-left: -5px;
    border: 0;
    background: none;
    overflow: visible;
    color: blue;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
	color: #A4A4A4;
	font-size: 16px;
}

.commandLink {
	display: inline-block;
    margin: 0;
    border: 0;
    background: none;
    overflow: visible;
    color: blue;
    cursor: pointer;
    text-decoration: none;
	color: #A4A4A4;
	font-size: 16px;
}

.leftColumn{
	text-align: left;
	width: 400px;
}

.rightColumn{
	text-align: center;
}

.createQuestion{
	text-align: left;
}

.stackTrace{
	height: 400px;
	width: 550px;
	overflow: auto;
	font-size: 12px;
}